body { margin:0px; font-family: monospace }

.widget {
  width: 600px;
  margin: 15px auto;
  font-size: 12px;
  line-height: 1.5;
  position: fixed;
  left:360px;
}

.start, .length {
  width: 50px;
}

.widget pre {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
}

.code {
  margin: 0 0 6px 0;
  padding: 15px;
  border: 0px;
  width: 300px;
  height: 290px;
  font-family: monospace;
  overflow: auto;
  float: left;
  resize: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: calc(100vh - 30px);
  background:#000;
  color:#fff;
}

.buttons {
  clear: both
}

.screen { 
  margin: 15px 0px;
  border-radius: 2px; 
  float:left;
}

.debugger { 
  margin: 15px;
  height: 125px;
  float: left; 
}

.minidebugger {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-family: monospace;
  font-size: 11px;
  margin-bottom: 15px;
}

.monitorControls {
  width: 587px;
  clear: both;
  margin-bottom: 10px;
  padding: 0;
}

.monitorControls input {
  margin-right: 0.5em;
}

.monitor {
  width: 587px;
  overflow: auto;
  margin-bottom: 15px;
}

.messages {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: auto;
  width: 587px;
  height: 100px;
  text-align: left;
  font-size: 11px;
  color: #444;
}
