body { padding:0px; margin:0px; }
hr { clear: both; border:0px; }
#editor { margin: 0px; cursor: crosshair; }
.right-panel { position: fixed;top: 0px;right: 0px;padding: 15px;background:white;font-size: 11px;font-family: mono;height: 100vh; }
.right-panel #info { padding: 15px 0px; border-bottom: 1px solid black; margin-bottom: 15px }
.color { width: 30px;display: inline-block;padding: 10px;text-align: center;border-radius: 2px;margin-right: 5px;float: left;margin-bottom: 15px; }
.pallete-picker {  }

table { border:0px; margin-bottom: 15px}
table td { border: 0px;padding: 0px;min-width: 15px;line-height: 15px; }